{% extends '/layout.html'%}
  {% block body %}
    
    
    <div class="container my-3">

        <form method="post" action="/Album/save-edit/{{album[0]}}" enctype="multipart/form-data" class="form-control">
        Codigo de album:
        <input type="text" name="codAlbum" id="CodAlbum " class="form-control" value="{{album[1]}}"><br>
        Nombre:
        <input type="text" name="nombre" id="nombre" class="form-control" value="{{album[2]}}"><br>
        Interprete:
        <select name="interprete" id="interprete" class="form-control"value="{{album[3]}}">
            {% for inter in interpretes %}
            {% if inter[0] == album[3]  %}
            <option value="{{inter[0]}}" selected="selected">{{inter[1]}}</option>
            {% else %}
            <option value="{{inter[0]}}">{{inter[1]}}</option>
            {% endif %}
            {% endfor %}
        </select><br>
        Genero:
        <select name="genero" id="genero" class="form-control" value="{{album[4]}}">
            {% for gen in generos %}
            {% if gen[0] == album[4]  %}
            <option value="{{gen[0]}}" selected="selected">{{gen[1]}}</option>
            {% else %}
            <option value="{{gen[0]}}">{{gen[1]}}</option>
            {% endif %}
            {% endfor %}
        </select><br>
        Cantidad de Temas:
        <input type="text" name="cantTemas" id="cantTemas" class="form-control" value="{{album[5]}}"><br>
        Discografica:
        <select name="discografica" id="discografica" class="form-control">
            {% for discografica in discograficas %}
            {% if discografica[0] == album[6]  %}
            <option value="{{discografica[0]}}" selected="selected">{{discografica[1]}}</option>
            {% else %}
            <option value="{{discografica[0]}}">{{discografica[1]}}</option>
            {% endif %}
            {% endfor %}
        </select><br>
        Formato:
        <select name="formato" id="formato" class="form-control">
            {% for formato in formatos %}
            {% if formato[0] == album[7]  %}
            <option value="{{formato[0]}}" selected="selected">{{formato[1]}}</option>
            {% else %}
            <option value="{{formato[0]}}">{{formato[1]}}</option>
            {% endif %}
            
            {% endfor %}
        </select><br>
        Fecha de lanzamiento:
        <input type="date" name="fecha" id="fecha" class="form-control" value="{{album[8]}}" placeholder="YYYY-MM-DD"><br>
        
        Precio:
        <input type="text" name="precio" id="precio " class="form-control" value="{{album[9]}}"><br>
        Cantidad:
        <input type="text" name="cantidad" id="cantidad " class="form-control" value="{{album[10]}}"><br>
        Caratula:
        <input type="text" name="caratula" id="caratula " class="form-control" value="{{album[11]}}"><br>
        <input type="submit" value="Guardar Cambios" class="form-control">
        
    </form>
    </div>
    
{% endblock %}
