{% extends '/Albums/layout.html'%}


  {% block body %}

                  

    <div class="mt-3 container align-center">
        <div class="container fluid bg-light row">
            <div class="col-3">
                <h2>Ordenar por:</h2>
            </div>
            <div class="col-6">
             <button type="button" class="btn btn-outline-info"><a href="/ListarPorNombre" class="mx-3">Nombre de Album</a></button>
             <button type="button" class="btn btn-outline-info"><a href="/ListarPorAlbum" class="mx-3">Artista</a></button>
             <button type="button" class="btn btn-outline-info"><a href="/ListarPorGenero" class="mx-3">Genero</a></button>
            </div>
            <div class="col-2">
            <button type="button" class="btn btn-outline-info"><a href="/create" class="mx-3">Crear Nuevo</a></button>
            </div>
            
            
        </div>
        
         
            {% for item in listado %}
            <div class="list-group list-group-horizontal-md align-center">
                <div class="col-2"><span></span>
                    <img class="img-fluid" src="{{item[8]}}" alt="{{item[8]}}">
                </div>
                <div class="col-2" class="row justify-content-center align-items-center minh-100">
                    <h4>{{item[1]}}</h4>
                    <p>{{item[0]}}</p>
                </div>
                <div class="col-3">
                    <ul>
                        <li>{{item[2]}}</li>
                    <li>{{item[3]}}</li>
                    <li>{{item[4]}}</li>
                    </ul>    
                </div>
                <div class="col-3">
                    <ul>
                        <li>Precio: ${{item[5]}}</li>
                        <li>Cantidad: {{item[6]}}</li>
                        <li>Formato: {{item[7]}}</li>
                    </ul>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-info"><a href="/edit/{{item[0]}}">EDITAR</a></button>
                    <br>
                    <button type="button" class="btn btn-outline-danger"><a href="/destroy/{{item[0]}}">ELIMINAR</a></button>
                </div>
                
            </div>       
            {% endfor %}
        </div>
    </div>

    {% endblock %}
